*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* :root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue--correct: 145;
} */


/* header div */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px;
  font-size: larger;
  font-weight: bold;

}

.start {
  padding: 0;
  margin: auto;
  display: flex;
  width: 100vh;
  height: 80vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}



/* .container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  
  box-shadow: 0 0 10px 2px;
  padding: 0;
  margin: auto;
  display: flex;
  width: 100vh;
  height: 60vh;
  justify-content: center;
  align-items: center;
  align-self: center;
} */



/* .btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
} */


/* #start-btn,  {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px, 20px;
} */

/* .controls {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hide {
  display: none;
}

